In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('Obesity_DataSet_2.csv')
df

,BMI_WHO,Age,Gender,Race1,Education,HHIncome,PhysActive,Smoke100,Diabetes,BPSysAve,TotChol,Alcohol12PlusYr,MaritalStatus,Work,Height,Depressed
0,Obese,34,male,White,High School,25000-34999,No,Yes,No,113.0,3.49,Yes,Married,NotWorking,164.7,Several
1,Obese,34,male,White,High School,25000-34999,No,Yes,No,113.0,3.49,Yes,Married,NotWorking,164.7,Several
2,Obese,34,male,White,High School,25000-34999,No,Yes,No,113.0,3.49,Yes,Married,NotWorking,164.7,Several
3,Obese,49,female,White,Some College,35000-44999,No,Yes,No,112.0,6.70,Yes,LivePartner,NotWorking,168.4,Several
4,OverWeight,45,female,White,College Grad,75000-99999,Yes,No,No,118.0,5.82,Yes,Married,Working,166.7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7476,OverWeight,28,male,Mexican,9 - 11th Grade,5000-9999,Yes,Yes,No,124.0,3.90,NaN,NeverMarried,Working,177.3,NaN
7477,OverWeight,28,male,Mexican,9 - 11th Grade,5000-9999,Yes,Yes,No,124.0,3.90,NaN,NeverMarried,Working,177.3,NaN
7478,Obese,27,male,Mexican,College Grad,75000-99999,No,No,No,133.0,5.72,Yes,Married,Working,175.8,NaN
7479,OverWeight,60,male,White,College Grad,65000-74999,No,No,Yes,147.0,4.94,Yes,NeverMarried,Working,168.8,NaN
7480,OverWeight,60,male,White,College Grad,65000-74999,No,No,Yes,147.0,4.94,Yes,NeverMarried,Working,168.8,NaN